#header-nav {
	background-color: #ffeeee;
}

#nav-list {
	background-color: #cbaacc;
	margin-top: 0;
	margin-bottom: 0;
}

#nav-list {
	border-bottom: 1px solid black;	
}

#nav-list a {
  color: black;
}

#nav-list a:hover {
  background: #dddfff;
}

#nav-list li {
	border-top: 1px solid black;
	margin-bottom: -1px;
}

#main-content {
	width: 90%;
	margin: auto; 
}

#main-row section {
	background-color: #77ddee;
	min-height: 1000px;
	font-size: 1.5em;
	margin-bottom: 30px;
	padding: 20px;
	text-align: justify;
}


#top {
	margin: 25px auto 50px;
}
